/*Maak hier jouw CSS!*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
    color: white;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5B052B;
    color: white;
    padding: 15px;
}

.grid-container {
    padding: 20px;
    display: grid;
    grid-gap: 16px;

    grid-template-columns: 1fr;
    grid-template-rows: 50px auto repeat(5, 50px);
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "."
        "f";
}

.item-a {
    grid-area: a;
}

.item-b {
    grid-area: b;
}

.item-c {
    grid-area: c;
}

.item-d {
    grid-area: d;
}

.item-e {
    grid-area: e;
}

.item-f {
    grid-area: f;
}

@media screen and (min-width: 576px){
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px 190px 100px auto 50px;
        grid-gap: 16px;
        grid-template-areas:
        "a c c"
        "b c c"
        "b e d"
        "b e ."
        "f f f"
    }

}